Handle case if client guesses kex method wrongly

According to RFC 4253, Section 7., either side may send an initial key exchange packet on a guess of the negotiated algorithms. If the guess is wrong, the other side must ignore this initial packet. We don't do that right now in our workflows.

This is related to the first_kex_packet_follows parameter.