Implement publickey authentication method

This will be your introductory task to get comfortable with the SSH-Attacker project. First of all, clone this repository and try to build the project using IntelliJ and Maven. If you like you can experiment and execute a few standard and custom workflows to understand the basics of the SSH protocol. 

You should then continue by implementing the 'publickey' authentication method (client side only) as defined in RFC 4252 Section 7. This will require you to implement a preparator and serializer for the `SSH_MSG_USERAUTH_REQUEST` message as well as a parser and handler for the `SSH_MSG_USERAUTH_PK_OK` message. Please fork off the feature/server branch as long as it isn't merged into master yet (should be done by tomorrow). Tip: You can look at the preparators of key exchange reply messages for signature generation.

Additionally, setup any U2F emulator and try to use it to authenticate against a local OpenSSH server (using an OpenSSH client).

If you do have any questions, feel free to contact @lambdafu and myself by either replying to this issue or sending a mail. Happy coding!